<!DOCTYPE html>
<html>
  <head>
    <title> SignUp </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="header">
      <h1>Sign Up</h1>
    </div>
    <a href="{{url_for('index')}}" class="button1" role="button">Back To Map</a>
    <form action="/signup" method="post" autocomplete="off">
      <input type="text" name="username" placeholder="Username"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="password" name="confpassword" placeholder="Confirm Password"/>

    <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </body>
</html>
